*{
    flex-wrap: wrap;
}
h1{
    text-decoration: solid;
    text-shadow: 2px;
    text-align: center;
    color: maroon;
}
#body{
    background-image: url(https://media.istockphoto.com/photos/taj-mahal-agra-india-monument-of-love-in-blue-sky-picture-id519330110?k=20&m=519330110&s=612x612&w=0&h=c6aWpRD_0BrCvL6D_UTS23jtYqXgcqkJ1mCzHa7lpCM=);
    background-repeat: no-repeat;
    background-size: cover;

}
.nav1{
  text-align: center;
    color: black;
    padding: 8px;
    margin: 10px;

}
.nav1 a{
    background-color: rgb(223, 21, 21);
    color: rgb(55, 22, 241);
    padding: 5px;
    margin: 5px;
 }
.lo{
    color: rgb(29, 163, 96);
    
    justify-content: end;
    
}
.btn{
    font-size: large;
    padding-left: 10px;
    margin-left: 1100px;
    justify-content: center;
    color: blue;
    background-color: rgb(22, 170, 22);
    
}
.p
{
    font-style: italic;
    font-size: medium;
    padding: 5px;
    margin: 10px;
}